<mat-card class="generation-card">

    <mat-card-title-group class="poke-card">
      <mat-card-title>Región principal</mat-card-title>
      <mat-card-subtitle class="poke-subtitle">{{generation.main_region.name | titlecase}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div  [ngClass]="generation.main_region.name" class="region"></div>
    </mat-card-content>
  <mat-divider inset></mat-divider>
  <h3>Pokedexes</h3>
  <mat-card-actions *ngIf="region !== undefined">
    <button (ngClass)="pokedex.name" *ngFor="let pokedex of region.pokedexes" mat-button (click)="getPokedex(pokedex.url)">
      {{pokedex.name | titlecase}}
    </button>
  </mat-card-actions>
</mat-card>
