<mat-card (click)="showPokemonDetails()" matRipple>
  <div class="poke-card" style="background-color: {{pokemon_species!==undefined?pokemon_species.color.name:'white'}};"></div>
  <div class="poke-header" style="background-color: {{pokemon_species!==undefined?pokemon_species.color.name:'white'}};"></div>
  <mat-card-title-group>
    <mat-card-title>#{{pokemon_entry.entry_number}}</mat-card-title>
    <mat-card-subtitle class="poke-subtitle">
      {{pokemon_entry.pokemon_species.name | titlecase}}
      <div *ngIf="pokemon!==undefined">
        <img class="{{type.type.name}} poke-type" *ngFor="let type of pokemon.types" src="assets/{{type.type.name}}.svg" alt="{{type.type.name}}"/>
      </div>
    </mat-card-subtitle>
    <div *ngIf="pokemon_species!==undefined">
      <img class="poke-sprite" [ngClass]="pokemon_species.is_mythical?'mythical':pokemon_species.is_legendary?'legendary':''" img mat-card-md-image src="{{pokemon!==undefined?pokemon.sprites.front_default:'assets/loading.gif'}}" alt="{{pokemon!==undefined?pokemon.name:'loading'}}" >
    </div>
  </mat-card-title-group>
  <mat-card-content>
    <div *ngIf="pokemon_species!==undefined">
      {{ pokemon_species.flavor_text_entries | getTranslatedFlavorText:"es"}}
    </div>
  </mat-card-content>
</mat-card>
